<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
  {% block title_block %}
    Relative
  {% endblock %}
  {% block body_block %}
    <h1>Welcome to Relative page</h1>
  {% endblock %}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Relative template page</h1>
    <a href="{% url 'basic_app:other' %}">goto other page</a> <br>
    <a href="{% url 'admin:index' %}">goto admin page</a> <br>
    <a href="{% url 'index' %}">goto homepage</a>
  </body>
</html> -->
